.u-section-1 .u-sheet-1 {
  min-height: 886px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 155px;
  margin-bottom: 32px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 243px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/155fbcdba8a7ba34cb6fdf365b5f8f98918a00311400e47834916d32311b84e0b7c4f2360cd7e811ea80a7e547e14f1bc806f4aab34b73b47d7ca6_1280.jpg");
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 243px;
}

.u-section-1 .u-image-2 {
  background-image: url("images/639739fe2325be4ab511396f97ef390c3eaa2b3eaa504c12f9f2b992d04c2e60b68bc3707baf7ed5e0bbd86900f0e8145447f5f95a5ebfd9f5583f_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 243px;
}

.u-section-1 .u-image-3 {
  background-image: url("images/gcfda229a031eb702ecfbc5a46fad633613ac0919c4da2e40d3405851047313a1846837c642699151f69a139042f15f39_1280.jpg");
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 243px;
}

.u-section-1 .u-image-4 {
  background-image: url("images/0deb11504d1c606854a647610aa47e0f41698b617d1ee0299666e1c76e44af80a0c7b4ae1be308fa76cf1d066adb78e60a311e59670ac34367e365_1280.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-5 {
  min-height: 486px;
  background-image: url("images/Internet.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1rem;
  margin: 386px auto 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 729px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: bold;
  font-size: 3.75rem;
  margin: 0 21px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 200px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 200px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 200px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 200px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-5 {
    min-height: 576px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.5rem;
    margin-top: 421px;
    padding: 0;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 791px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 17px;
    margin-right: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 871px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 179px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 179px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 179px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 255px;
  }

  .u-section-1 .u-image-5 {
    min-height: 662px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 492px;
    margin-left: 77px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 168px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1429px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 122px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 269px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 269px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 269px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 383px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    min-height: 993px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 17px;
    margin-right: 17px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 962px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 125px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 169px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 169px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 169px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 241px;
  }

  .u-section-1 .u-image-5 {
    min-height: 625px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-2 {
  min-height: 576px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 689px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 30px 80px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  text-transform: uppercase;
  margin: 106px auto 0;
}

.u-section-2 .u-form-1 {
  height: 276px;
  margin-top: 28px;
  margin-bottom: 0;
}

.u-section-2 .u-form-group-2 {
  margin-left: 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 689px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 146px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 30px 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 60px auto 0;
}

.u-section-2 .u-text-5 {
  margin: 18px 61px 0;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 60px auto 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  line-height: 2;
  margin: 22px 60px 0;
}

.u-section-2 .u-image-1 {
  min-height: 689px;
  background-image: url("images/FDE79AA8-7420-4B17-95D0-FB4E627DB9F5_1_105_c.jpeg");
  background-position: 50% 50%;
  background-size: 145%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 475px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 568px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 568px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 136px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 7px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 56px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 8px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 36px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 13px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 568px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 364px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 530px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 65px;
    margin-right: 24px;
  }

  .u-section-2 .u-form-1 {
    height: 306px;
    width: 204px;
    margin-top: 24px;
    margin-right: 0;
    margin-left: 35px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 435px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 919px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 498px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-right: auto;
  }

  .u-section-2 .u-form-1 {
    width: 537px;
    margin-left: 42px;
    margin-right: 42px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 474px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 70px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 42px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 42px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 8px;
  }

  .u-section-2 .u-image-1 {
    min-height: 979px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1579px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 489px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
  }

  .u-section-2 .u-form-1 {
    width: 340px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 511px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 60px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 12px;
  }

  .u-section-2 .u-btn-2 {
    padding: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 53px;
  }

  .u-section-2 .u-text-5 {
    width: 347px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-6 {
    margin-top: 56px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 20px;
  }

  .u-section-2 .u-image-1 {
    min-height: 616px;
    background-size: auto 145%;
  }
}